{% extends "base.html" %}
{% block content %}
<div class="vertical-center">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Innlogging</div>
                    <div class="panel-body">
                        <div class="alert alert-info" style="margin-bottom: 0">
                            Epost (IKKE brukernavn) og passord fra nabla.no-brukere kan benyttes til å logge inn.
                            Merk at brukerinformasjon fra nabla.no ble kopiert 25.12.17. Kun brukere som var aktive på
                            det tidspunktet kan brukes her. Ellers så må du lage en ny konto.
                        </div>
                        {% if form.errors %}
                            <div role="alert" class="alert-dismissible alert alert-danger">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                {{ form.errors }}
                            </div>
                        {% endif %}
                        <form class="login" method="POST">
                            {% csrf_token %}
                            <label>E-postadresse</label>
                            <div class="input-group">
                                <span class="input-group-addon "><span class="glyphicon glyphicon-envelope"></span></span>
                                <input class="form-control" id="{{ form.username.id_for_label }}" name="{{ form.username.html_name }}" placeholder="E-postadresse" required="true" />
                            </div>
                            <br>
                            <label>Passord</label>
                            <div class="input-group">
                                <span class="input-group-addon "><span class="glyphicon glyphicon-lock"></span></span>
                                <input type="password" class="form-control" id="{{ form.password.id_for_label }}" name="{{ form.password.html_name }}" placeholder="Passord" required="true" />
                            </div>
                            <br>
                            <input type="submit" class="btn btn-primary btn-block" value="Logg inn"/>
                        </form>
                        <br>
                        <a class="btn btn-success btn-block" href="{% url 'user.registration' %}">Registrer deg</a>
                        <br>
                        <a class="pull-right" href="{% url 'user.reset' %}">Glemt passord?</a>
                    </div>
                </div>
                <ol class="breadcrumb">
                    <li class="active">Logg inn</li>
                </ol>
            </div>
        </div>
    </div>
</div>
{% endblock %}