{% extends "base.html" %}
{% load easy_thumbnails %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href={% static "countdown/css/googlefont.css" %} />
    <link rel="stylesheet" href={% static "countdown/countdown/jquery.countdown.css" %} />
{% endblock %}
{% block content %}

<article>
<p>
<strong>Hei og velkommen til Nablas 75-årsjubileum!</strong> Vi gleder oss til å se dere alle i Trondheim til våren. Under følger en oversikt over hva som kommer til å skje under jubileumshelgen. Siden vil bli oppdatert med mer informasjon etter hvert.
</p>

<hr style="background-color: black; height: 1px; width: 100%;">
<h4>Fredag:</h4>
<ul>
	<li> Supperevy og trippelkonsert:
	<li> Sted: Rockheim
	<li> Forestilling starter: kl. 2030
</ul>

<p>
Det vil arrangeres supperevy med det beste av tidligere Nablarevyer på Rockheim scene. Etter dette vil Nablas musikalske sektor lage show, og dere kan vente dere en fantastisk opptreden med både linjeforeningskoret “Koreolis”, linjeforeningsbandet “The Gravitones” og studentbandet “The Stokes”, som også er tilknyttet Nabla. Forestillingen starter klokken 20:30, men vi vil befinne oss i foajeen på Rockheim fra klokken 19:00. Vi oppmuntrer alle alumni til å komme innom i god tid før forestillingsstart for å ta seg en øl og mingle litt!
</p>

<hr style="background-color: black; height: 1px; width: 100%;">
<h4>Lørdag:</h4>

<ul>
	<li> TFY7575 - Lunsj og foredrag på Gløshaugen:
	<li> Sted: Hangaren
	<li> Oppmøte: Kl. 10:30.
	<li> Sluttidspunkt: Ca. kl. 13:30
</ul>

<p>
Vi vil sitte i noen timer i Hangaren, kantinen på enden av Stripa. Her vil dere få en innføring i Nablas liv og virke siden forrige jubileum. Det blir servering av lunsj samt en morsom quiz. Opplegget avsluttes med en omvisning på Gløshaugen.
</p>

<ul>
	<li> Vors før jubileumsbankett:
	<li> Sted: Moholt Barnehage
	<li> Start: kl. 16:00
</ul>

<p>
Før banketten på Scandic Lerkendal, arrangerer vi alumnivors på Moholt Barnehage. Dette er vår foreløpige kjeller mens den egentlige kjelleren pusses opp. Transport arrangeres til Scandic Lerkendal, og bussene går derfra ca. kl. 17:50. Dørene på Scandic Lerkendal åpner kl. 18:00.
</p>

<hr style="background-color: black; height: 1px; width: 100%;">
<h4>Søndag:</h4>

<ul>
	<li> Sted: Realfagbygget, U1 (nye vrimleområde)
	<li> Start: kl. 11:00
	<li> Oppmøtested: Nablakontoret kl. 11:00
</ul>

<p>
Vi arrangerer en lett lunsj for å samle alle tanker og erfaringer fra kvelden før.
</p>

</article>

<!--
	<article>
		<img src="bpx.png" alt="kommer">
		<div class="article-title">
			<h4 class="col2">KOMMER</h4>
		</div>
	</article>
-->

{% endblock %}
