{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Jub om dager</title>
</head>
<body>
	<h2 id="jub">Hvor lenge er det til Jubileum?</h2>
		<table id="clock">
		<tr>
		 	<td><span id="day">XX</span>&nbsp;</td>
		  	<td><span id="hour">XX</span></td>
		  	<td><span id="min">XX</span></td>
		  	<td><span id="sec">XX</span></td>
		</tr>
		<tr id="clock-text">
		 	<td id="dayText">dager</td>
		  	<td id="hourText">timer</td>
		  	<td id="minText">minutter</td>
		  	<td id="secText">sekunder</td>
		</tr>
	</table>
    <script src={% static "countdown/myscript.js" %}></script>
</body>
</html>
