<footer class="box"><div id="footer-content">
	<div id ="about" class="col3">
		<h4>Om</h4>
		I 2022 feirer Nabla 80-årsjubileet, og feirer i den anledning med en ukes begivenheter du ikke har lyst til å gå glipp av!
	</div>
	<div id="feedback" class="col4">
		<h4>Kontakt</h4>
		Har du spørsmål, send inn til
		<ul>
			<li>jubileum (ætt) nabla (dått) ntnu (dått) no
			<li>jubileumssjef (ætt) nabla (dått) ntnu (dått) no
		</ul>
	</div>
	<div id="socmed-links" class="col5">
        <h4><a href="https://www.facebook.com/nablajubileum/" class="col5">Facebook</a></h4> <p>Følg oss for å få med deg nyheter fortløpende!</p>
	</div>
</div></footer>
