{% extends "base.html" %}
{% load easy_thumbnails %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href={% static "countdown/css/googlefont.css" %} />
    <link rel="stylesheet" href={% static "countdown/countdown/jquery.countdown.css" %} />
    <link rel="stylesheet" href={% static "css/fireworks.css" %} />
{% endblock %}
{% block content %}

    <div id="countdown"></div>
    <br>
    <!-- JavaScript includes -->
    <script src={% static "countdown/countdown/jquery.countdown.js" %}></script>
    <script src={% static "countdown/js/script.js" %}></script>

<section id="jub-news" class="jub-content">

    {% for event in event_list %}
        {% if event.published %}
					{% if not event.hidden_to_guests or user.is_authenticated %}
	        <a href={{ event.get_absolute_url }}>
	        <article>
	            {% if event.front_picture %}
	            <img alt="header" src="{% thumbnail event.front_picture 250x250 box=event.front_cropping upscale=False detail=True quality=95 %}">
	            {% endif %}
	            <div class="article-title text-block">
	                <h4 class="col2">{{ event.headline }}</h4>
	                <h4 class="col4">{{ event.event_start|date:"j. N"}}</h4>
	                <h4 class="col1">{{ event.location }}</h4>
	            </div>
	        </article>
	        </a>
					{% endif %}
        {% endif %}
    {% endfor %}
<!--
	<article>
		<img src="bpx.png" alt="kommer">
		<div class="article-title">
			<h4 class="col2">KOMMER</h4>
		</div>
	</article>
-->
</section>

{% endblock %}
