{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="vertical-center">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Glemt passord</div>
                    <div class="panel-body">
                        <br>
                        <div class="text-center">
                            <span class="btn btn-success nohover"><span class="glyphicon glyphicon-ok"></span></span>
                        </div>
                        <br>
                        <p class="text-center">Passordet er nå endret. Du kan nå logge inn.</p>
                        <br>
                        <a href="{% url 'user.login' %}" class="btn btn-primary btn-block">Til innlogging</a>
                    </div>
                </div>
                <ol class="breadcrumb">
                    <li><a href="{% url 'user.login' %}">Logg inn</a></li>
                    <li class="active">Glemt passord</li>
                </ol>
            </div>
        </div>
    </div>
</div>
{% endblock %}