{% extends "base.html" %}
{% block content %}
<div class="vertical-center">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Glemt passord</div>
                    <div class="panel-body">
                        <form action="{% url 'user.reset' %}" method="post">
                            {% csrf_token %}
                            {% if form.errors %}
                                <div role="alert" class="alert-dismissible alert alert-danger">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    {{ form.errors }}
                                </div>
                            {% endif %}
                            <label>E-postadresse</label>
                            <div class="input-group">
                                <span class="input-group-addon "><span class="glyphicon glyphicon-envelope"></span></span>
                                <input type="email" class="form-control" maxlength="{{ form.email.field.widget.attrs.maxlength }}" name="{{ form.email.html_name }}" placeholder="E-postadresse" required="true" />
                            </div>
                            <br>
                            <button class="btn btn-primary btn-block" type="submit">Send e-post</button>
                        </form>
                    </div>
                </div>
                <ol class="breadcrumb">
                    <li><a href="{% url 'user.login' %}">Logg inn</a></li>
                    <li class="active">Glemt passord</li>
                </ol>
            </div>
        </div>
    </div>
</div>
{% endblock %}