{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="vertical-center">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Glemt passord</div>
                    <div class="panel-body">
                        {% if validlink %}
                            <form action="." method="post">
                                {% csrf_token %}
                                {% if form.errors %}
                                    <div role="alert" class="alert-dismissible alert alert-danger">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        {{ form.errors }}
                                    </div>
                                {% endif %}
                                <label>Nytt passord</label>
                                <div class="input-group">
                                    <span class="input-group-addon "><span class="glyphicon glyphicon-lock"></span></span>
                                    <input type="password" class="form-control" maxlength="{{ form.new_password1.field.widget.attrs.maxlength }}" name="{{ form.new_password1.html_name }}" placeholder="Nytt passord" required="true" />
                                </div>
                                <br>
                                <label>Gjenta nytt passord</label>
                                <div class="input-group">
                                    <span class="input-group-addon "><span class="glyphicon glyphicon-lock"></span></span>
                                    <input type="password" class="form-control" maxlength="{{ form.new_password2.field.widget.attrs.maxlength }}" name="{{ form.new_password2.html_name }}" placeholder="Gjenta nytt passord" required="true" />
                                </div>
                                <br>
                                <button class="btn btn-primary btn-block" type="submit">Lagre nytt passord</button>
                            </form>
                        {% else %}
                            <br>
                            <div class="text-center">
                                <span class="btn btn-danger nohover"><span class="glyphicon glyphicon-remove"></span></span>
                            </div>
                            <br>
                            <p class="text-center"><b>Oops!</b> Feil ved verifisering av link.</p>
                        {% endif %}
                    </div>
                </div>
                <ol class="breadcrumb">
                    <li><a href="{% url 'user.login' %}">Logg inn</a></li>
                    <li class="active">Glemt passord</li>
                </ol>
            </div>
        </div>
    </div>
</div>
{% endblock %}